<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=env_sitetitle  %> <%=  pageTitle %> </title>

    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>


    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="/assets/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/css/tambahan.css" rel="stylesheet">




</head>

<body class="my-login-page text-gray">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
		<a href="/" style="text-decoration: none; color: inherit; margin-right: auto!important;"><h5 class="my-0 mr-md-auto font-weight-normal"><%= env_sitetitle %> </h5></a>
        <nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" href="#">Features</a>
			<a class="p-2 text-dark" href="#">Enterprise</a>
			<a class="p-2 text-dark" href="#">Support</a>
			<a class="p-2 text-dark" href="#">Pricing</a>
		</nav>
		<% if (isAuthenticated) { %>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/admin">Admin</a>
            </nav>
            <a class="btn btn-outline-primary" href="/logout">Logout</a>         
            <% } else  { %>

                <a class="btn btn-outline-primary" href="/login">Login</a>
                <% } %>
        
	</div>
    <% if (alert) { %>
        <%- alert %>  
    <% } %>
    
    <%- include(pages) %> 



</body>


</html>