<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Daftar modul</h5>
            </div>
            
            <div class="card-body p-1">
                <table class="table table-super-condensed table-striped">
                    <thead class="bg-primary text-white">
                        <th>ID</th>
                        <th>Module</th>
                        <th></th>
                    </thead>
                    <tbody>
                       <% q_module.forEach(row => { %>
                        <tr>
                            <td><%= row.moduleId %> </td>
                            <td><%= row.moduleName %> </td>
                            <td class="text-right">
                                <a onClick="return confirm('<%= constant.MY_DATADELETECONFIRM  %> ')" href="/modules-delete/<%=row.moduleId  %>" class="btn btn-xs btn-danger" ><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        
                       <% }) %>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Tambah Modul</h5>
            </div>
            <form action="/modules-add" method="post">
                <div class="card-body">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <label for="moduleName">Nama Modul</label>
                    <input id="moduleName" type="text" class="form-control" name="moduleName" value="" required autofocus>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary text-white float-right">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>